# Dependencias
node_modules/

# Builds y salidas
dist/
build/
coverage/

# Entorno y Secretos
.env*
!.env.example

# IDEs (VS Code, IntelliJ, etc)
.idea/
.vscode/
*.iml
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
*.log

# Temporales de compilación o pruebas
test_write.txt
android/
